= form_for_filterrific @filterrific do |f|
  .field
    = f.label :standard
    = f.select :with_standard_id, @filterrific.select_options[:with_standard_id], {include_blank: '- Any -'}
    = f.label :chapter
    = f.select :with_chapter_id, @filterrific.select_options[:with_chapter_id], { include_blank: '- Any -' }
  .field
    = f.label :topic
    = f.select :with_topic_id, @filterrific.select_options[:with_topic_id], { include_blank: '- Any -' }
  .field
    = f.label :difficulty
    = f.select :with_difficulty, @filterrific.select_options[:with_difficulty], { include_blank: '- Any -' }
    = f.label :level
    = f.select :with_level, @filterrific.select_options[:with_level], { include_blank: '- Any -' }
    = f.label :question_id
    = f.text_field :with_id
    = render_filterrific_spinner
    = f.submit 'Go'
    = link_to 'Reset Filters', reset_filterrific_url
%br

= render partial: 'list', locals: {questions: @questions}
